.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        width: 32.5rem;
        display: flex;
        justify-content: space-around;
        margin-bottom: 4rem;
        span{
            font-size: 5rem;
        }
        span:nth-of-type(1){
            color: #8C19D2;
        }
        span:nth-of-type(2){
            color: #0069CA;
        }
    }
    
}
.custom-button {
    width: 100%;
    max-width: 170px;
    height: 50px;
    font-size: 1.2em;
    /* outras propriedades CSS */
  }
  