<div class="container">
    <header>
        <section routerLink="/" class="logo">
            <span>
                Search
            </span>
            <span>
                d_evs
            </span>
        </section>
        <section>
            <app-input-search (words)="onGetWords($event)" [hasButton]="false"></app-input-search>
        </section>
        <section>
            
        </section>
    </header>
    <nav class="sidebar">
        <mat-card [ngStyle]="{ 'background-color': 'var(---secondary-color)' }">
            <mat-card-content>
                <section class="profile">
                    <div *ngIf="user.avatar_url">
                        <img [src]="user.avatar_url" >
                    </div>
                    <div class="name">
                        <b>
                            {{user.name}}
                        </b>
                        <div class="profile-login">
                            {{login}}
                        </div>
                    </div>
                    

                </section>
                <section class="desc">
                   <p>
                    {{user.bio??''}}
                   </p>
                </section>
                <section class="links">
                    <ul>
                        <li *ngIf="user.followers">
                            <img [src]="flowers" alt="">
                            {{user.followers}} seguidores
                        </li>
                        <li *ngIf="user.following">
                            <img [src]="heart" alt="">
                            {{user.following}} seguindo
                        </li>
                        <li *ngIf="user.company" >
                            <img [src]="office" alt="">
                            {{user.company}}
                        </li>
                        <li *ngIf="user.email">
                            <img [src]="email" alt="">
                            {{user.email}}
                        </li>
                        <li *ngIf="user.blog" style="cursor: pointer;" >
                            <mat-icon class="material-icons">share</mat-icon>

                            <span (click)="openBlog(user.blog)">{{' '+user.blog}}</span>
                        </li>
                        <li *ngIf="user.twitter_username"  style="cursor: pointer;">
                            <img [src]="twitter" alt="">
                            <span (click)="openTwitter(user.twitter_username)">

                                @{{user.twitter_username}}
                            </span>
                        </li>
                        
                    </ul>
                </section>
            </mat-card-content>
        </mat-card>
    </nav>
    <main>
      <section>
        <div class="content" *ngFor="let repo of repos">
            <p class="repo-title" style="font-size: 20px;"><a href="{{repo.html_url}}" target="_blank" >{{repo.name}}</a></p>
            <p>{{repo.description??''}}</p>
            <div class="ftitle" style="width: 20rem;display: flex;justify-content: space-around;">
                <span class="att-info">
                    <img [src]="star" alt="">
                    {{repo.stargazers_count}}
                </span> 
                <span class="att-info">
                    {{updated(repo.updated_at)}}
                </span>
            </div>

        </div>
      </section>  
    </main>
</div>
  