.container {
  
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar main main";
    grid-template-columns: minmax(0, 1fr) 1fr minmax(0, 1fr); /* colunas responsivas */
    grid-template-rows: 4.3rem 1fr 0px;
    a{
      text-decoration: none;
      color:black

    }
    .logo{
      cursor: pointer;
    }
  }
    header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
        span{
            font-size: 2rem;
            }
        span:nth-of-type(1){
            color: #8C19D2;
        }
        span:nth-of-type(2){
            color: #0069CA;
        }

    }
    .att-info{
      margin-left: 10px;
    }
    main {
        grid-area: main;
        .content{
          padding: 10px;
          margin-left: 20px;
          border-color: var(---border-dark-color);
        }
        
    }

    .sidebar {
        grid-area: sidebar; 
        
    }

    
  @media (max-width: 768px) { /* ajuste para telas menores que 768px */
    .container {
      grid-template-areas:
        "header header header"
        "sidebar sidebar sidebar"
        "main main main";
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto auto 100px;
    }
  
    main {
        grid-row: 3 / -1;
      
    }
  
    .sidebar {
        grid-row: 2 / 3;
      
    }
  }
  
  @media (max-width: 480px) { /* ajuste para telas menores que 480px */
    .container {
      grid-template-areas:
        "header"
        "sidebar"
        "main";
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto auto auto 100px;
    }
  
    header {
      grid-area: header;
    }
  
    main {
      grid-area: main;
      grid-row: 3 / -1;
      display: flex;
      justify-content: center;
      align-items: center;
      section{
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
      }
      
    }
    .repo-title{
      margin-bottom: 10px;
    }
    .ftitle{
      width: 2rem;
      display: flex;
      justify-content: space-around;
    }
    .sidebar {
      
      grid-area: sidebar;
      grid-row: 2 / 3;
      
    }
  
   
  }
  
  // card
  mat-card-content{
    width: 100%;
    display: grid;
    grid-template-areas:
        "p p p"
        "desc desc desc"
        "links links links";
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto auto 100px;

    .profile{
      width: 90%;
      max-width: 90%;
      overflow: hidden;
      grid-area: p;
      grid-row: 1 / 2;
      display: grid;
      grid-template-columns: 3fr 8fr;
      align-items: center; 
      img {
        width: 100%;
        max-width: 70px;
        height: auto;
        border-radius: 180px;
        object-fit: contain;
        object-position: top;
      }
      .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
      .profile-login{
        color: var(---login-word-color);
      }
    }
    
    .desc{
      width: 90%;
      max-width: 90%;
      grid-area: desc;
      grid-row: 2 / 3;
    }
    .links{
      width: 90%;
      max-width: 90%;
      grid-area: links;
      grid-row: 3 / -1;
      ul{
        list-style: none;
        padding: 0;
        li{
          overflow-wrap: break-word;
          margin-top: 10px;
        }
      }
    }
  }
  
  