/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  
  ---primary-color: #8C19D2;
  ---secondary-color: #fff;
  ---border-color: #E2E8F0;
  ---border-dark-color: #636568;
  ---icon-search-color: #A0AEC0;

  /* Snackbar config color*/
  .danger-snackbar * {
    background-color: #f44336; /* vermelho */
    color: white !important;
  }
  }

